@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Fira+Sans:wght@600&family=Fraunces:opsz,wght@9..144,700&family=Inconsolata:wght@600&family=Lobster&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');

.attribution {
    font-size: 1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

h1 {
    font-size: 1rem;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

p {
    font-size: 0.7rem;
    color: hsl(220, 15%, 55%);
}

main {
    padding-top: 12rem;
}


.cards {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.first-card {
    text-align: center;
    width: 14rem;
    background-color: hsl(0, 0%, 100%);
    padding: 0.5rem 0;
    border-radius: 10px;
}

.content {
    padding: 0 1.4rem;
}


@media (width:1024px) {
    main {
        padding-top: 6rem;
    }
}